<plugin>
    <extension
        point="org.eclipse.core.commands.Command">
        <command
            id="com.copilotapi.commands.showPopup"
            name="Show Popup"/>
    </extension>
    <extension
        point="org.eclipse.core.commands.handlers">
        <handler
            commandId="com.copilotapi.commands.showPopup"
            class="com.copilotapi.handlers.ShowPopupHandler"/>
    </extension>
    <extension
        point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
            <command
                commandId="com.copilotapi.commands.showPopup"
                label="Show Popup"
                mnemonic="P"/>
        </menuContribution>
    </extension>
</plugin>